#define IDR_MENU_MAIN 10000
#define IDM_MENUBAR_MAIN 10001
#define IDM_FILE 10002
#define IDM_FILE_NEW 10003
#define IDM_FILE_OPEN 10004
#define IDM_FILE_SAVE 10005
#define IDM_FILE_SPLIT1 10006
#define IDM_FILE_EXIT 10007
#define IDM_EDIT 10008
#define IDM_EDIT_CUT 10009
#define IDM_EDIT_COPY 10010
#define IDM_EDIT_PASTE 10011
#define IDM_EDIT_SPLIT1 10012
#define IDM_EDIT_UNDO 10013
#define IDM_EDIT_REDO 10014
#define IDM_OPTION 10015
#define IDM_OPTION_SETTING 10016
#define IDM_HELP 10017
#define IDM_HELP_ABOUT 10018
#define IDM_HELP_SPLIT1 10021
#define IDM_HELP_DOC 10020
#define IDM_HELP_HELP 10019

LANGUAGE 4,2

IDR_MENU_MAIN MENU
BEGIN
  POPUP "菜单栏"
  BEGIN
    POPUP "文件(&F)"
    BEGIN
      MENUITEM "新建(&N)\tCtrl+N",IDM_FILE_NEW
      MENUITEM "打开(&O)\tCtrl+O",IDM_FILE_OPEN
      MENUITEM "保存(&S)\tCtrl+S",IDM_FILE_SAVE
      MENUITEM SEPARATOR
      MENUITEM "退出(&E)",IDM_FILE_EXIT
    END
    POPUP "编辑(&E)"
    BEGIN
      MENUITEM "剪切(&T)\tCtrl+X",IDM_EDIT_CUT
      MENUITEM "复制(&C)\tCtrl+C",IDM_EDIT_COPY
      MENUITEM "粘贴(&P)\tCtrl+V",IDM_EDIT_PASTE,GRAYED
      MENUITEM SEPARATOR
      MENUITEM "撤销(&U)",IDM_EDIT_UNDO,GRAYED
      MENUITEM "重做(&R)",IDM_EDIT_REDO,GRAYED
    END
    POPUP "选项(&O)"
    BEGIN
      MENUITEM "设置(&S)",IDM_OPTION_SETTING
    END
    POPUP "帮助(&H)"
    BEGIN
      MENUITEM "关于(&A)",IDM_HELP_ABOUT
      MENUITEM SEPARATOR
      MENUITEM "文档(&D)",IDM_HELP_DOC
      MENUITEM "帮助(&H)\tF1",IDM_HELP_HELP
    END
  END
END

